<?xml version="1.0" encoding="utf-8"?>
<configuration>
<system.webServer>
  <handlers>
   <remove name="Python27_via_FastCGI" />
   <remove name="Python34_via_FastCGI" />
   <add name="Python FastCGI"
      path="*"
      verb="*"
      modules="FastCgiModule"
      scriptProcessor="C:\Users\user\anaconda3\envs\flask\python.exe|C:\Users\user\anaconda3\envs\flask\Lib\site-packages\wfastcgi.py"
     
      resourceType="Unspecified"
      requireAccess="Script" />
  </handlers>
</system.webServer>
<appSettings>
  <!-- Required settings -->
  <add key="WSGI_HANDLER" value="run.app" />
  <add key="PYTHONPATH" value="C:\inetpub\wwwroot\stealth" />
</appSettings>
</configuration>