.book_img {
    width: 150px;
}

.index-group {
    width: 90%;
}

.depth-0 {
    margin-left: 0%;
}

.depth-1 {
    margin-left: 5%;
}

.depth-2 {
    margin-left: 10%;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 40px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
