{% extends 'base.html' %}
{% block content %}
<style>
    .book-img{
        width: 100px;
    }
    .book-info:hover {
        background: silver;
        cursor: pointer;
    }
</style>
<script>
    function book_view(book_id) {
        //console.log(book_id);
        location.href = "{{url_for('book.book_view', book_id='bookid')}}".replace("bookid", book_id);
    }

</script>
<h1>책장</h1>
<table class="table">
    <thead>
        <th>이미지</th>
        <th>이름</th>
        <th>마지막수정</th>
        <th>진행도</th>
        <th>/</th>
    </thead>
    <tbody>
        {% for book in books %}
        <tr class="book-info" onclick="book_view('{{book._id}}')">
            <td><img class="book-img" src="{{book.image}}" alt="book"></td>
            <td>{{book.name}}</td>
            <td>{{book.last_modify | datetime_format}}</td>
            <td>{{book.per_all_study}}%</td>
            <td><a href="{{url_for('book.delete_book', book_id=book._id)}}" class="btn btn-danger">삭제</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<figure style="text-align: center;"><img src="https://static.inven.co.kr/column/2020/10/18/news/i13793583656.jpg" style="max-width: 100%;" width="650"></figure>
{% endblock content%}