{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="{{url_for('static', filename='css/book_modify.css')}}">
    <script>
        // var load_index_cnt = Number("{{book_indexes.count()}}");
        var load_index_cnt = 0;
        var add_index_cnt = 1;
        $(function() {
            load_index_cnt = Number($("#sortable li:last-child div .form-control").attr('id').replace("index_", ""));
            $("#sortable").sortable({
                // update: function( event, ui ){
                //     let index_input = $("#sortable .form-control").toArray();
                //     let num = 0;
                //     index_input.forEach(ii => {
                        
                //         num++;
                //     });
                // }
            });
            $("#sortable").disableSelection();
            
        });
        
        function depth_up(id) {
            //console.log($(id).attr("depth"));
  
            depth = Number($(id).prev().prev().attr("value"));

            let prev_li = $(id+"_li").prev();
            console.log(prev_li);
            if (prev_li.length < 1) {
                return;
            }
            

            if (depth >= 1){
                return;
            } else {
                $(id).removeClass("depth-"+depth);
                $(id).addClass("depth-"+(depth+1));
                $(id).prev().prev().attr("value", depth+1);
            }
        }

        function depth_down(id) {
            //console.log($(id).attr("depth"));
            
            depth = Number($(id).prev().prev().attr("value"));

            if (depth <= 0) {
                return;
            } else {
                $(id).removeClass("depth-"+depth);
                $(id).addClass("depth-"+(depth-1));
                $(id).prev().prev().attr("value", depth-1);
            }

        }

        function delete_index(id) {
            
            let index_id = $(id).prev().attr("value");
            console.log(index_id);

            if (index_id != null && index_id != ""){
                $.ajax({
                    url:"{{url_for('book.delete_index', index_id='indexid')}}".replace("indexid", index_id),
                    cache:false,
                    contentType:"json",
                    type:"post",
                    success: function(args) {
                        alert("삭제되었습니다.");
                    },
                    error: function(data) {
                        console.log(data);
                    }
                });
            }

            $(id).parent().parent().remove();
        }

        function create_index() {
            var item = '<li class="ui-state-default ui-sortable-handle" id="index_'+ (load_index_cnt + add_index_cnt) +'_li"> \
                    <div class="input-group index-group">\
                        <input type="hidden" class="depth" name="depth" value="0">\
                        <input type="hidden" class="index-id" name="index_id" value="">\
                        <input type="text" id="index_'+ (load_index_cnt + add_index_cnt) +'" depth="0" class="form-control depth-'+ (load_index_cnt + add_index_cnt) +'" placeholder="목차" name="book_index" value="">\
                        <div class="input-group-append">\
                            <button class="btn btn-outline-secondary" type="button" onclick="delete_index(\'#index_'+ (load_index_cnt + add_index_cnt) +'\')">Del</button>\
                            <button class="btn btn-outline-secondary" type="button" onclick="depth_down(\'#index_'+ (load_index_cnt + add_index_cnt) +'\')">◀</button>\
                            <button class="btn btn-outline-secondary" type="button" onclick="depth_up(\'#index_'+ (load_index_cnt + add_index_cnt) +'\')">▶</button>\
                        </div>\
                    </div> \
                </li>';
            $(item).appendTo("#sortable");

            add_index_cnt += 1;
            //reorder()
        }

        function submit_chk() {
            let indexex = $("[name=book_index]");

            for (const index of indexex) {
                if ($(index).val() == ""){
                    alert("값이 빈 목차가 있습니다.");
                    return false;
                }
            }

            return true;
        }

    </script>

    <br>
    <table class="table">
        <tr>
            <td width="160" rowspan="4"><img class="book_img" src="{{book_info.image}}" alt="book"></td>
            <td><h3>{{book_info.name}}</h3></td>
        </tr>
        <tr>
            <td>{{book_info.auth}}</td>
        </tr>
        <tr>
            <td>{{book_info.publisher}}</td>
        </tr>
        <tr>
            <td>{{book_info.publish_date}}</td>
        </tr>
    </table>
    <div>
        <div>
            <p>마지막 수정시간 : {{book_info.last_modify | datetime_format}}</p>
        </div>
        <div>
            <p>전체 공부 진척도 : {{book_info.per_all_study}}</p>
        </div>
    </div>
    <form action="{{url_for('book.book_modify',member_id=book_info.member_id, book_num=book_info.book_num)}}" name="form" method="POST" onsubmit="return submit_chk()">
        <input class="btn btn-primary" type="submit" value="수정">
        <input type="hidden" name="book_id" id="book_id" value="{{book_info._id}}">
        
        <ul id="sortable">
            {% for index in book_indexes %}
                <li class="ui-state-default ui-sortable-handle" id="index_{{index.num}}_li">
                    <div class="input-group index-group">
                        <input type="hidden" class="depth" name="depth" value="{{index.depth}}">
                        <input type="hidden" class="index-id" name="index_id" value="{{index._id}}">
                        <input type="text" id="index_{{index.num}}" class="form-control depth-{{index.depth}}" placeholder="목차" name="book_index" value="{{index.name}}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="delete_index('#index_{{index.num}}')">Del</button>
                            <button class="btn btn-outline-secondary" type="button" onclick="depth_down('#index_{{index.num}}')">◀</button>
                            <button class="btn btn-outline-secondary" type="button" onclick="depth_up('#index_{{index.num}}')">▶</button>
                        </div>
                    </div> 
                </li>
            {% endfor %}
        </ul>
        <br><br>
        <input class="btn btn-dark float-right" type="button" value="추가" onclick="create_index()">
        <br>
    </form>
        <br><br>
        <hr>
        <!-- <p>{{idx_str}}</p><br> -->
        
{% endblock content %}
